@import './styles/breakpoints.scss';
@import './styles/about.scss';
@import './styles/audience.scss';
@import './styles/common.scss';
@import './styles/communication.scss';
@import './styles/customers.scss';
@import './styles/features.scss';
@import './styles/feedback.scss';
@import './styles/footer.scss';
@import './styles/header.scss';
@import './styles/headline.scss';
@import './styles/hiring.scss';
@import './styles/inbox.scss';
@import './styles/order.scss';
@import './styles/engage.scss';
@import './styles/support.scss';

.page {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
