.about {
  display: block;
  background: #f4f5f7;
  padding: 46px 15px;
  @include for-large-up {
    display: flex;
    padding: 77px 130px;
  }
}
.article {
  width: 290px;
  height: 180px;
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }
  &__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
  }

  @include for-large-up {
    width: 555px;
    height: 102px;
    &1 {
      margin-right: 29px;
    }
    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__description {
      margin-top: 0;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
    }
  }
}
