.about {
  display: block;
  background: #f4f5f7;
  padding: 46px 15px;
  @include for-large-up {
    display: grid;
    gap:inherit;
    grid-template-columns: 555px 555px;
    padding: 77px 130px;
  }
  &__block {
    width: 290px;
    height: 180px;
    @include for-large-up {
      width: 555px;
      height: 102px;
      display: grid;
      grid-gap: 5px;

    }
    &_title {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      @include for-large-up {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &_description {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      @include for-large-up {
        margin-top: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
      }
      &_1 {
        @include for-large-up {
          margin-right: 29px;
        }
      }
    }
  }
}
