@media screen and (min-width: 400px) {
  .com__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    width: 160px;
    height: 48px;
    color: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #3040c4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    margin-top: 39px;
    margin-bottom: 87px;
  }
  .communacation {
    margin: 110px 130px 110px 126px;
    &__subtitle {
      width: 225px;
      height: 34px;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      margin-top: 13px;
      margin-bottom: 0;
      color: #0189d1;
    }
    &__title {
      margin-top: 24px;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      width: 462px;
      height: 112px;
      margin-bottom: 0;
    }
    &__description {
      margin-top: 30px;
      width: 461px;
      height: 102px;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      margin-right: 193px;
    }
  }
  .communicate {
    display: flex;
  }
  .better__way-photo {
    width: 425px;
    height: 426px;
    margin-bottom: 15px;
  }
  .better__way-description {
    margin: 0;
    width: 234px;
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-left: 95px;
  }
  .commute__line {
    margin: 0;
    width: 150px;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
  }
  .learn__more {
    display: flex;
    margin-top: 41px;
  }
  .subscription {
    margin: 0;
    width: 360px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  .code {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .subscr {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .learn-more {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040c4;
  }
  .audience__user-card {
    position: absolute;
    margin-top: 50px;
  }
}
@media screen and (max-width: 399px) {
  .communication__subtitle {
    width: 255px;
    height: 34px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189d1;
    margin: 50px 80px 0 15px;
  }
  .communication__title {
    width: 290px;
    height: 80px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin: 17px 15px 0 15px;
  }
  .communication__description {
    margin: 18px 15px 0 15px;
    width: 290px;
    height: 167px;
    font-weight: 400;
    font-size: 24px;
  }
  .com__btn {
    width: 160px;
    height: 48px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #3040c4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #ffffff;
    margin: 30px 145px 0 15px;
    border: none;
  }
  .better__way-photo {
    width: 290px;
    height: 291px;
    margin: 40px 15px 0 15px;
  }
  .better__way-description {
    width: 235px;
    height: 22px;
    margin: 17px 42px 40px 43px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
  .commute__line {
    width: 150px;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 0 155px 0 15px;
  }
  .subscription {
    width: 290px;
    height: 138px;
    margin: 33px 15px 0 15px;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .subscr {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 5px;
  }
  .code {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .learn-more {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040c4;
  }
}
