@media screen and (min-width: 400px) {
  .inbox {
    display: flex;
    background: #fcf0e3;
    mix-blend-mode: normal;
  }
  .inbox__photo {
    margin: 0;
  }
  .inbox-photo {
    width: 425px;
    height: 510px;
    margin: 142px 164px 15px 193px;
  }
  .inbox-description {
    width: 281px;
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-left: 265px;
    margin-bottom: 101px;
  }
  .team__inbox-subtitle {
    margin: 0;
    margin-top: 115px;
    margin-left: 28px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #f1592b;
    width: 125px;
    height: 34px;
  }
  .team__inbox-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    width: 462px;
    height: 112px;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 28px;
  }
  .team__inbox-description {
    width: 461px;
    height: 102px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-left: 28px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .great__widgets {
    margin-top: 44px;
    width: 519px;
    height: 213px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }
  .great__widgets-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 519px;
    height: 115px;
    padding: 30px 30px 0 30px;
    margin: 0;
  }
  .easy__implement {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .creative__director {
    padding-left: 30px;
    margin-top: 26px;
    display: flex;
  }
  .director_photo {
    width: 40px;
    height: 40px;
    margin-right: 11px;
  }
  .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  .proffession {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin: 0;
  }
  .name__line {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #0185d0;
    background-blend-mode: overlay, normal;
    height: 4px;
    margin: 0;
  }
}
@media screen and (max-width: 399px) {
  .inbox-photo {
    width: 290px;
    height: 348px;
    margin: 50px 15px 0 15px;
  }
  .team__inbox-subtitle {
    width: 125px;
    height: 34px;
    margin: 32px 180px 0 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #f1592b;
  }
  .team__inbox-title {
    width: 290px;
    height: 80px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin: 17px 15px 0 15px;
  }
  .team__inbox-description {
    width: 290px;
    height: 205px;
    margin: 18px 15px 30px 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }
  .great__widgets-description {
    width: 250px;
    height: 169px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 30px 20px 0 20px;
  }
  .easy__implement {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .creative__director {
    display: flex;
  }
  .director_photo {
    width: 40px;
    height: 40px;
    margin: 28px 11px 52px 20px;
  }
  .name {
    width: 199px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 26px 20px 0 0;
  }
  .proffession {
    width: 199px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin: 0 20px 28px 0;
  }
  .name__line {
    width: 290px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #0185d0;
    background-blend-mode: overlay, normal;
    height: 4px;
    margin: 0 15px 0 15px;
  }
  .great__widgets {
    width: 290px;
    height: 351px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    margin: 0 15px 0 15px;
    padding-top: 30px;
  }
  .inbox {
    width: 320px;
    height: 1215px;
    background: #fcf0e3;
    mix-blend-mode: normal;
  }
  .inbox-description {
    display: none;
  }
}
