@import './breakpoints.scss';
@import './about.scss';
@import './audience.scss';
@import './communication.scss';
@import './customers.scss';
@import './features.scss';
@import './feedback.scss';
@import './footer.scss';
@import './header.scss';
@import './headline.scss';
@import './hiring.scss';
@import './inbox.scss';
@import './order.scss';
@import './engage.scss';
@import './support.scss';

.page {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
